{
  "parser": "babel-eslint",
  "extends": "@eventmobi/eslint-config",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-constant-condition": [1, { "checkLoops": false }]
  }
}
